.book_form {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 2rem;
  background: transparent;
}

.book_form__content {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 2rem;
}

.book_form__control_panel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
