.book_card {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  gap: 6rem;
  outline: 1px solid white;
  padding: 50px;
  border-radius: 10%;
  min-width: 350px;
  max-width: 350px;
  min-height: 370px;
  max-height: 370px;
}

.book_card__header {
  display: flex;
  justify-content: space-between;
}

.book_card__header__control_panel {
  display: flex;
  gap: 3rem;
}

.book_card__content {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  gap: 2rem;
  overflow: hidden;
  white-space: nowrap;
}

.book_card__item__id {
  display: flex;
  border-radius: 100%;
  border: 1px solid white;
  width: 50px;
  height: 50px;
}

.book_card__item__id__text {
  margin: auto;
}
