.container_content {
  display: flex;
  flex-direction: column;
}

.control_panel {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 10px;
}

.control_panel__btn {
  display: flex;
  justify-content: center;
  min-height: 55px;
  min-width: 80px;
  outline: 1px solid white;
}

.control_panel__btn__text {
  align-self: center;
}

.control_panel__btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.container_books {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 2rem;
}
